@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

:root {
    --main-color: #ffaa00;
    --black-color: #131318;
    --RGB-color: rgba(19, 19, 24, 0.70);
    --gray-color: #5A5A5D;
    --hover-button-color: #c58402;
    --card-color:rgba(221, 206, 162, 0.379);

}

body {
    font-family: 'Mulish', sans-serif;

}

/* start of header section */

/* start of navigation section */
header {
    margin: 0px 128.25px;
}

.navigation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.logo-section {
    display: flex;
    align-items: center;
    gap: .8vw;
}

.logo-image {
    width: 50px;
    height: 56.008px;
}

.logo-text {
    font-size: 2.25rem;
    font-weight: 800;
}

.bee {
    color: var(--main-color);
}

.menu-section {}

.menu-container {
    display: flex;
    gap: 3.221vw;
}

.home {
    color: var(--main-color);
}

.menu-container>li {
    list-style: none;

}

.menu-container>li>a {
    text-decoration: none;
    color: #424247;
}

.menu-image {
    width: 22px;
    height: 22px;
    display: none;

}

/* end of navigation section */

/* start of banner section */
.banner-section {
    width: 79vw;
    height: 475px;
    color: #FFF;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Banner.png');
    /* background-size: 100%; */
    background-size: cover;
    background-position: center;
    /* background-attachment:fixed ; */
    text-align: center;
    vertical-align: middle;
}

.Banner-title {
    padding-top: 100px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    max-width: 676px;
    margin: 22px auto 40px;
    color: white;
}

.form-section {
    padding: 16px;
    margin: 0px auto;
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.form-section>input {
    width: 174px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--RGB-color);
}

.from-dropdown {
    width: 174px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--RGB-color);
}

.button-custom {}

.pry-button {
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    /* padding: 30px; */
    width: 12.079vw;
    height: 48px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
}

.pry-button:hover {
    background-color: var(--hover-button-color);
}

.pry-button>h6 {
    font-weight: 700;
    color: white;
    font-size: 1rem;
}

/* end of banner section */

/* end of header section */

/* start of main section */

main {
    margin: 50px 9vw 100px;
}

/* start of popular section */

.popular-section {
    display: flex;
    gap: 3vw;
    margin-top: 80px;

}

.popular-text-section {}

.popular-title {
    font-size: 40px;
    font-weight: 800;
    color: var(--black-color);
}

.popular-description {
    color: var(--RGB-color);
}

.popular-points-container {
    color: var(--RGB-color);
}

.popular-details {
    color: var(--gray-color);
}

.popular-button {
    width: 165px;
    height: 49px;
    background-color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 5px;
}

.popular-button:hover {
    background-color: var(--hover-button-color);
}

.popular-image-section {}

.popular-image {
    width: 510px;
    height: 520px;
}

/* end of popular section */

/* start of destination section */
.destination-section {
    text-align: center;
    margin-top: 100px;
}

.destination-text-section {}

.destination-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.destination-description {
    max-width: 620px;
    margin: 0px auto;
    margin-bottom: 45px;
}

.destination-image-section>div>div>h4 {
    font-size: 1.70rem;
    font-weight: 800;
    color: white;

}

.image-1 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-2 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-3 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-4 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-5 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-6 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-7 {
    height: 300px;
    gap: 20px;
    background-image: url(../images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.destination-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5vw;
}

.destination-row-2 {
    display: grid;
    grid-template-columns: 25.6vw 32.6vw 18.6vw;
    gap: 1.5vw;
    margin-top: 20px;

}

.destination-row-3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 32.3vw 46.3vw;
    gap: 1.5vw;

}

/* end of destination section */

/* start of choose section */
.choos-section {
    margin-top: 100px;
}

.choos-text-section {
    text-align: center;
    margin-bottom: 25px;
}

.choos-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.choos-description {
    max-width: 630px;
    margin: 24px auto;
}

.choos-image-container-1 {
    margin-bottom: 0px;
    display: flex;
    gap: 1.5vw;
}

.choos-image-container-2 {
    margin-top: 1.5vw;

}

.choose-card-bottom {
    margin: 0px auto;
    width: 40.996vw;
    height: 200px;
    padding: 30px;
    color: var(--gray-color);

}


.choose-card {
    width: 40.996vw;
    height: 200px;
    padding: 30px;
}

.choose-card>h4 {
    color: var(--black-color);
}

.choose-card>p {
    color: var(--gray-color);
}

.choose-card-bottom>h4 {
    color: var(--black-color);
}

.choose-card-bottom>p {
    color: var(--gray-color);
}

/* end of choose section */

/* start of inspiration section */

.inspiration-card-section {
    display: grid;
    grid-template-columns: 40% 27% 27%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.inspiration-text-section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.inspiration-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--black-color);    
}
.more{
    color: var(--main-color);
}
.inspiration-card-1 {
    width: 450px;
    height: 400px;
    padding: 30px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/pexels-tim-durgan-4968457.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.inspiration-card-1>h3{
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    margin: 0px;
}

.inspiration-card-1>p{
    color:white;
    font-size: 1.2rem;
}


.inspiration-card-2{
    margin-left: 4vw;
    width: 220px;
    height: 400px;
    padding: 20px;
    background-color:var(--card-color);
    border-radius: 7px;
}

.inspiration-card-3{
    width: 220px;
    height: 410px;
    padding: 20px;
    background-color: var(--card-color);
    border-radius: 7px;
}

.inspiration-image {
    width: 100%;
    height: 60%;
}

.inspiration-card-title {
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 700;
}

.inspiration-description {
    color: var(--gray-color);
}







/* start of save section */

.save-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 42% 58%;
    gap: 1.5vw;
}

.save-form-section {
    border: 1px solid var(--main-color);
    /* border-radius: 15px; */
    padding: 38px;
}

.save-title {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--black-color);
}

.save-description {
    color: var(--gray-color);
    max-width: 340px;
}

.save-form-container {
    display: block;
    /* flex-direction: column; */
}

.save-form-container>input {
    width: 28.770vw;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(19, 19, 24, 0.05);
}




.save-button {
    width: 28.770vw;
    height: 52px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.save-button:hover {
    background-color: var(--hover-button-color);
}

.save-image-container {
    width: 44vw;
    height: 27vw;
    position: relative;
}

.save-image {
    width: 100%;
    /* max-height: 100%; */

}

.save-tag {
    width: 45.45%;
    max-height: 27.5%;
    text-align: center;
    transform: rotate(-19.628deg);
    background-color: var(--main-color);
    border-radius: 15px;
    position: absolute;
    right: 0.439vw;
    bottom: 5.8vh;

}

.website {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
}

.up-to {
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

.lost-section {
    margin-top: 80px;
    display: flex;
    gap: 1.6vw;
}

/* end of save section */

/* start of lost section */

.lost-title {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: 800;
    color: var(--black-color);
    margin-bottom: 20px;
}

.lost-description {
    color: var(--gray-color);
    width: 35vw;
}

.lost-text-section>ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.lost-button {
    max-width: 174px;
    height: 52px;
    margin-top: 40px;
    padding: 10px 35px;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
}

.lost-button:hover {
    background-color: var(--hover-button-color);
}

.lost-image-section {
    margin-bottom: 0px;
    width: 46vw;
    height: 25vw;
    position: relative;
}

.lost-image {
    width: 46vw;
    height: 25vw;
    position: relative;
}

.lost-image-title {
    margin: 0px;
    width: 270px;
    position: absolute;
    top: 159px;
    left: 180px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

.lost-icon-1 {
    position: absolute;
    bottom: 35px;
    right: 27px;
}

.lost-icon-2 {
    position: absolute;
    bottom: 35px;
    left: 25px;
}

.lost-icon-3 {
    position: absolute;
    bottom: 35px;
    right: 63px;
}

.lost-icon-4 {
    position: absolute;
    bottom: 35px;
    right: 98px;
}

.lost-icon-5 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-right: 500px;
    border-radius: 5px;
    background-color: var(--gray-color);

}

.lost-icon-6 {
    margin: 0px;
    color: white;
    position: absolute;
    bottom: 35px;
    left: 60px;
}

.footer-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.footer-description {
    margin: 0px auto;
    width: 730px;
    text-align: center;
    color: var(--gray-color);

}

.logo-section-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8vw;
}

.logo-image-bottom {
    width: 50px;
    height: 56.008px;
}

.logo-text-bottom {
    font-size: 2.25rem;
    font-weight: 800;
}

.bee-bottom {
    color: var(--main-color);
}

.footer-image-section {
    margin-top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image-section>img{
    width: 24px;
}

.footer-bottom {
    margin: 100px auto;
    text-align: center;
    color: var(--black-color);
}


/* end of lost section */

/* end of main section */

/* start of footer section */







/* Scroll down to for the responsive codes */








/* Scroll down to for the responsive codes */








/* Scroll down to for the responsive codes */







/* Scroll down to for the responsive codes */






/* responsive section */

/* Small device  */
@media screen and (max-width:600px) {
    header {
        margin: 20px;
    }

    .logo-image {
        width: 26px;
        height: 30px;
    }

    .logo-text {
        font-size: 1.75rem;

    }

    .navigation-section {
        align-items: center;
    }

    .menu-container {
        display: none;
    }

    .logo-section {
        padding-bottom: 10px;
    }

    .menu-image {
        display: inline;
        width: 40px;
        height: 40px;
    }

    .banner-section {
        width: 85vw;
        background-size: auto;
    }

    .Banner-title {
        font-size: 1.375rem;
        padding-top: 20px;
        margin-bottom: 0px;
    }

    .banner-description {
        padding: 0px 14px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 300px;
        margin: 10px 20px;
        padding: 10px 10px;
    }

    .form-section>input {
        width: 230px;
        height: 32px;
    }

    .from-dropdown {
        padding: 10px;
    }

    .where-go {
        padding: 10px;
    }

    .form-section>select {
        width: 250px;
        height: 52px;
    }

    .pry-button {
        width: 250px;
        height: 52px;
    }

    .popular-section {
        flex-direction: column;
    }

    .popular-text-section {
        width: 300px;
    }

    .popular-image {
        margin-top: 30px;
        width: 305px;
        height: 310px;
    }

    .destination-row-1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .destination-row-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .destination-row-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .destination-image-section {
        margin-top: 0px;
    }

    .destination-text-section {
        margin-bottom: 15px;
    }

    .choos-image-container-1 {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    .choose-card {
        margin-bottom: 0px;
        width: 80%;
        height: 290px;
    }

    .choose-card-bottom {
        margin-top: 0px;
        width: 80%;
        height: 290px;
        margin: 6px 20px 20px 0px;
    }

    .save-section {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .save-form-section {
        margin-bottom: 15px;

    }

    .save-title {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .save-button {
        width: 243px;
    }

    .save-image-container {
        width: 78vw;
        height: 72.7vw;
    }

    .save-image {
        width: 100%;
        height: 300px;
    }

    .save-tag {
        width: 70%;
        height: 70px;
        padding-bottom: 30px;
        right: 1.5vw;
        bottom: 3.5vh;

    }

    .website {
        font-size: 1rem;
    }

    .up-to {
        font-size: 1.4rem;
    }

    .lost-section {
        flex-direction: column;
    }

    .lost-description {
        width: 335px;
    }

    .lost-description>ul {
        margin-bottom: 10px;
    }

    .lost-button {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .lost-image-section {
        width: 78vw;
        height: 58vw;
    }

    .lost-image {
        width: 100%;
        height: 58vw;
    }

    .lost-icon-5 {
        padding-right: 200px;
    }

    .lost-image-title {
        top: 89px;
        left: 30px;
    }

    .footer-description {
        width: 287px;
    }

    .footer-bottom {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .inspiration-card-section{
        grid-template-columns: 1fr;
        gap: 10px;
        justify-content: center;
    }
     
    .inspiration-card-1{
        width: 280px;
        margin: 20px auto 0px;
    }

    .inspiration-card-2{
        width: 290px;
        margin: 0px auto;
    }


    .inspiration-card-3{
        width: 290px;
        margin: 0px auto;
    }

    .inspiration-title{
        font-size: 1.4rem;
        width: 200px;
        margin-bottom: 0px;
    }
    .more{
        font-size: 1.2rem;
    }
}